<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ADBaseLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ADBaseLibrary.Properties.Settings>
            <setting name="UserAgent" serializeAs="String">
                <value>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/43.0.2357.132 Safari/537.36</value>
            </setting>
            <setting name="FFMPEGArgs" serializeAs="String">
                <value>-i "{0}" {1} -vcodec copy -acodec copy -scodec copy {4}-map 0:0 -map 0:1 -metadata:s:a:0 language={5} -metadata:s:a:0 title="{6}" {2} {7} -y "{3}"</value>
            </setting>
            <setting name="FFMPEGSubtitleArgs" serializeAs="String">
                <value>-map {0}:0 -metadata:s:s:{1} language={2} -metadata:s:s:{1} title="{3}" </value>
            </setting>
            <setting name="FFMPEGEXE" serializeAs="String">
                <value>ffmpeg.exe</value>
            </setting>
            <setting name="SocketTimeout" serializeAs="String">
                <value>50000</value>
            </setting>
        </ADBaseLibrary.Properties.Settings>
    </applicationSettings>
</configuration>