<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DaiSukiPlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DaiSukiPlugin.Properties.Settings>
            <setting name="UserAgent" serializeAs="String">
                <value>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/43.0.2357.132 Safari/537.36</value>
            </setting>
            <setting name="DefaultTimeout" serializeAs="String">
                <value>50000</value>
            </setting>
            <setting name="ShowRegex" serializeAs="String">
                <value>&lt;div\sclass="latestMovieThumbnail".*?&lt;img\sdelay="(?&lt;image&gt;.*?)".*?&lt;p\sclass="episodeNumber"&gt;(?&lt;episode&gt;.*?)&lt;/p&gt;.*?&lt;a\shref="(?&lt;url&gt;.*?)"</value>
            </setting>
            <setting name="Show2Regex" serializeAs="String">
                <value>&lt;div\sclass="thumbnail"&gt;.*?&lt;img delay="(?&lt;image&gt;.*?)".*?&lt;a\shref="(?&lt;url&gt;.*?)"&gt;(?&lt;episode&gt;.*?)&lt;/a&gt;</value>
            </setting>
            <setting name="ImageServer" serializeAs="String">
                <value>http://img.daisuki.net/</value>
            </setting>
            <setting name="BgnWrapper" serializeAs="String">
                <value>&lt;script.*?src="(?&lt;wrapper&gt;.*?bgnwrapper\.js.*?)"</value>
            </setting>
            <setting name="FlashVars" serializeAs="String">
                <value>flashvars.*?=*.?{(?&lt;vars&gt;.*?)}</value>
            </setting>
            <setting name="Flash2Vars" serializeAs="String">
                <value>(['"])(?&lt;name&gt;.*?)(['"])\s*:\s*(['"])(?&lt;value&gt;.*?)(['"])</value>
            </setting>
            <setting name="PublicKey" serializeAs="String">
                <value>"(?&lt;line&gt;.*?)\\n"+</value>
            </setting>
        </DaiSukiPlugin.Properties.Settings>
    </applicationSettings>
</configuration>