<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CrunchyPlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CrunchyPlugin.Properties.Settings>
            <setting name="ShowUrl" serializeAs="String">
                <value>http://www.crunchyroll.com/en/videos/{0}/alpha?group=all</value>
            </setting>
            <setting name="UpdateUrl" serializeAs="String">
                <value>http://www.crunchyroll.com/videos/{0}/updated/ajax_page?pg={1}</value>
            </setting>
            <setting name="ShowRegex" serializeAs="String">
                <value>&lt;li\sid.*?group_id="(?&lt;id&gt;.*?)".*?&lt;a.*?title="(?&lt;title&gt;.*?)".*?href="(?&lt;url&gt;.*?)".*?&lt;/a&gt;.*?&lt;/li&gt;</value>
            </setting>
            <setting name="Show2Regex" serializeAs="String">
                <value>\#media_group_(?&lt;id&gt;.*?)".*?"description":"(?&lt;desc&gt;.*?)"</value>
            </setting>
            <setting name="EpsRegex" serializeAs="String">
                <value>&lt;li\sid="showview_videos_media_(?&lt;id&gt;.*?)".*?&lt;a.*?href="(?&lt;url&gt;.*?)".*?&lt;img.*?(src|data-thumbnailUrl)="(?&lt;image&gt;.*?)".*?class="series-title\sblock\sellipsis"\sdir="auto"&gt;(?&lt;episode&gt;.*?)&lt;/span&gt;.*?class="short-desc"\sdir="auto"&gt;(?&lt;title&gt;.*?)&lt;/p&gt;.*?&lt;script&gt;.*?"description":(?&lt;description&gt;.*?),"offsetLeft":</value>
            </setting>
            <setting name="UpdRegex" serializeAs="String">
                <value>&lt;li\sid="media_group.*?group_id="(?&lt;show&gt;.*?)".*?href="(?&lt;url&gt;.*?)".*?&lt;img.*?src="(?&lt;image&gt;.*?)".*?&lt;span.*?&gt;(?&lt;title&gt;.*?)&lt;/span&gt;.*?&lt;span.*?&gt;(?&lt;ep&gt;.*?)&lt;/span&gt;</value>
            </setting>
            <setting name="SeasonRegex" serializeAs="String">
                <value>class="season-dropdown.*?title="(?&lt;season&gt;(.*?))".*?&lt;/ul&gt;</value>
            </setting>
            <setting name="EpsShowImageRegex" serializeAs="String">
                <value>&lt;div\sid="sidebar".*?&lt;img\sitemprop="image".*?src="(?&lt;image&gt;.*?)".*?/&gt;</value>
            </setting>
            <setting name="RTMPDumpArgs" serializeAs="String">
                <value>-r "{0}" -a "{1}" -y "{2}" -o "{3}"</value>
            </setting>
            <setting name="RTMPDumpEXE" serializeAs="String">
                <value>rtmpdump.exe</value>
            </setting>
        </CrunchyPlugin.Properties.Settings>
    </applicationSettings>
</configuration>